ENV['EMAIL_USERNAME'] = 'PUT YOUR EMAIL USERNAME'
ENV['EMAIL_PASSWORD'] = 'PUT YOUR PASSWORD USERNAME'
ENV['AWS_ACCESS_KEY_ID'] = 'PUT YOUR AWS_ACCESS_KEY_ID'
ENV['AWS_SECRET_ACCESS_KEY'] = 'PUT YOUR AWS_SECRET_ACCESS_KEY'
ENV['GOOGLE_MAPS_API_KEY'] = 'PUT YOUR GOOGLE_MAPS_API_KEY'
ENV['LINKEDIN_KEY'] = 'PUT YOUR LINKEDIN_KEY_ACCESS_KEY'
ENV['LINKEDIN_SECRET'] = 'PUT YOUR LINKEDIN_SECRET_KEY'
