<!DOCTYPE html>
<html>
  <head>
    <title>** Get a Job - React</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag "client" %>
    <script type="text/javascript">
      console.log('client index');
    </script>
</head>

  <body>
    <%= yield %>
  </body>
</html>
