<div id="homeTextContainer">
  <div id="homeText">
    <h1 class="navbar-brand">Get a Job</h1>
    <h3>Your personal assistent, helping you with your job applications</h3>
    <br>
    <h5>No more messy spreadsheets. <strong>Get a Job</strong> keeps track of every detail about your job applications - notes, dates, tasks, job descriptions, salaries, locations, company data and more.</h5>
  </div>
</div>
