<form class="form-signin my-3 p-3 bg-white rounded box-shadow" action="/users/sign_in" id="new_user" accept-charset="UTF-8" method="post">

  <input name="authenticity_token" value="uErIyC2QUw3JTgu7T2z5Dgy9eMxf789hsHkieuVNsWfvdUClhLNZ9sNMngLiZnc7fASs1K1HK98UUaW6Z+3oSA==" type="hidden">

  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Login / Home</h1>
  </div>
  <div class="form-label-group">
    <input id="user_email" class="form-control" type="email" name="user[email]" placeholder="Email address" required="" data-com.agilebits.onepassword.user-edited="yes">
    <label for="user_email">Email address</label>
  </div>
  <div class="form-label-group">
    <input maxlength="128" id="user_password" type="password" name="user[password]" class="form-control" placeholder="Password" required="" data-com.agilebits.onepassword.user-edited="yes">
    <label for="user_password">Password</label>
  </div>
  <div class="checkbox mb-3">
    <label>
      <input type="hidden" name="user[remember_me]" value="0">
      <input type="checkbox" name="user[remember_me]" id="user_remember_me" value="1"> Remember me
    </label>
  </div>
  <div class="text-center mb-4">
    <button class="btn btn-lg btn-custom btn-block" type="submit">Login</button>

    <br>
      <a class="btn btn-sm btn-outline-custom btn-inline" href="/users/sign_up">Sign up</a>

    <a class="btn btn-sm btn-outline-custom btn-inline" href="/users/password/new">Forgot your password?</a>

    <div class="menu-divider">
      <hr>
      <div class="divider-text text-sm text-muted">OR</div>
    </div>

    <a class="btn btn-lg btn-outline-linkedin btn-inline" href="/users/auth/linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Login with LinkedIn</a>

    <div class="menu-divider">
      <hr>
      <div class="divider-text text-sm text-muted">OR</div>
    </div>
  </div>

    <a href="/users/confirmation/new">Didn't receive confirmation instructions?</a><br>

</form>
