<h1>Board: <%= @board.name %></h1>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>

<h3>Lists</h3>
<%= tag.div id: :boards, data: { board_id: @board.id , lists: @lists.to_json(include: :cards)} %>
