<div id="aboutTextContainer">
  <div id="aboutText">
    <div class="aboutSection">
      <h1 class="navbar-brand"> <a id="technologies">Technologies</a></h1>
      <div class="boards-page-board-section-list">
        <div class="card boards-page-board-section-list-item shadow hvr-skew">
          <div class="card-header text-center"><h4>PostgreSQL</h4></div>
          <div class="card-body text-center">
            <img src="/assets/postgresql.png" alt="PostgreSQL" width="100">
          </div>
        </div>

        <div class="card boards-page-board-section-list-item shadow hvr-skew">
          <div class="card-header text-center"><h4>Ruby on Rails</h4></div>
          <div class="card-body text-center">
            <img src="/assets/rails.png" alt="Ruby on Rails" width="100">
          </div>
        </div>

        <div class="card boards-page-board-section-list-item shadow hvr-skew">
          <div class="card-header text-center"><h4>Vue.js</h4></div>
          <div class="card-body text-center">
            <img src="/assets/vue.png" alt="Vue.js" width="90">
          </div>
        </div>

        <div class="card boards-page-board-section-list-item shadow hvr-skew">
          <div class="card-header text-center"><h4>Ajax</h4></div>
          <div class="card-body text-center">
            <img src="/assets/ajax.png" alt="Aws" width="100">
          </div>
        </div>

        <div class="card boards-page-board-section-list-item shadow hvr-skew">
          <div class="card-header text-center"><h4>Act as List</h4></div>
          <div class="card-body text-center">
            <img src="/assets/gem.png" alt="Gem" width="90">
          </div>
        </div>

        <div class="card boards-page-board-section-list-item shadow hvr-skew">
          <div class="card-header text-center"><h4>Vue Draggable</h4></div>
          <div class="card-body text-center">
            <img src="/assets/vue.png" alt="Vue.js" width="90">
          </div>
        </div>

        <div class="card boards-page-board-section-list-item shadow hvr-skew">
          <div class="card-header text-center"><h4>Sortable.js</h4></div>
          <div class="card-body text-center">
            <img src="/assets/javascript.png" alt="JavaScript" width="90">
          </div>
        </div>

        <div class="card boards-page-board-section-list-item shadow hvr-skew">
          <div class="card-header text-center"><h4>jQuery</h4></div>
          <div class="card-body text-center">
            <img src="/assets/jquery.gif" alt="jQuery" width="100">
          </div>
        </div>

        <div class="card boards-page-board-section-list-item shadow hvr-skew">
          <div class="card-header text-center"><h4>Bootstrap</h4></div>
          <div class="card-body text-center">
            <img src="/assets/bootstrap.png" alt="Bootstrap" width="100">
          </div>
        </div>

        <div class="card boards-page-board-section-list-item shadow hvr-skew">
          <div class="card-header text-center"><h4>LinkedIn API</h4></div>
          <div class="card-body text-center">
            <img src="/assets/linkedin.png" alt="LinkedIn" width="100">
          </div>
        </div>

        <div class="card boards-page-board-section-list-item shadow hvr-skew">
          <div class="card-header text-center"><h4>Google Maps</h4></div>
          <div class="card-body text-center">
            <img src="/assets/maps.png" alt="LinkedIn" width="100">
          </div>
        </div>

        <div class="card boards-page-board-section-list-item shadow hvr-skew">
          <div class="card-header text-center"><h4>AWS</h4></div>
          <div class="card-body text-center">
            <img src="/assets/aws.png" alt="Aws" width="100">
          </div>
        </div>

        <div class="card boards-page-board-section-list-item shadow hvr-skew">
          <div class="card-header text-center"><h4>Active Admin</h4></div>
          <div class="card-body text-center">
            <img src="/assets/gem.png" alt="Gem" width="90">
          </div>
        </div>

        <div class="card boards-page-board-section-list-item shadow hvr-skew">
          <div class="card-header text-center"><h4>Friendly ID</h4></div>
          <div class="card-body text-center">
            <img src="/assets/gem.png" alt="Gem" width="90">
          </div>
        </div>

        <div class="card boards-page-board-section-list-item shadow hvr-skew">
          <div class="card-header text-center"><h4>Carrier Wave</h4></div>
          <div class="card-body text-center">
            <img src="/assets/gem.png" alt="Gem" width="90">
          </div>
        </div>

        <div class="card boards-page-board-section-list-item shadow hvr-skew">
          <div class="card-header text-center"><h4>Devise</h4></div>
          <div class="card-body text-center">
            <img src="/assets/gem.png" alt="Gem" width="90">
          </div>
        </div>
      </div>
      <a href="#reactxvue" class="btn btn-custom btn-sm">Next</a>
      <br><br><br>
      <br><br><br>
      <br><br><br>
    </div>
    <div class="aboutSection">
      <h1 class="navbar-brand"><a id="reactxvue">React x Vue</a></h1>
      <h3>React and Vue share many similarities. They both:</h3>
      <h4>• virtual DOM</h4>
      <h4>• reactive and composable view components</h4>
      <h4>• routing and global state management</h4>
      <div class="row">
        <div class="card shadow col-5" style="margin: 20px; padding: 10px;">
          <h3 class="text-center">React</h3>
          <h3 class="text-center"> <img src="/assets/react.png" alt="React" height="50px"> </h3>
          <div class="card-body">
            <h5>• Everything is just JavaScript</h5>
            <h5>• More power</h5>
            <h5>• Less productivity</h5>
          </div>
        </div>
        <div class="card shadow col-5" style="margin: 20px; padding: 10px;">
          <h3 class="text-center">Vue</h3>
          <h3 class="text-center"> <img src="/assets/vue.png" alt="React" height="50px"> </h3>
          <div class="card-body">
            <h5>• Also have render functions and support JSX</h5>
            <h5>• Any valid HTML/CSS is also a valid Vue template</h5>
            <h5>• More productivity - easy to progressively migrate existing applications</h5>
          </div>
        </div>
      </div>
      <br><br><br>
      <br><br><br>
      <br>
    </div>
  </div>
</div>
