<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="../../../../favicon.ico">
    <title>Get a Job</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="homeMain">
      <nav class="homeNavBar navbar navbar-dark bg-transparent">
        <a href="/" class="btn btn-menu btn-custom btn-sm">Home</a>
        <a href="/about" class="btn btn-menu btn-custom btn-sm">About</a>
      </nav>
    <div class="container" id="homeContent">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
