<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="../../../../favicon.ico">
    <title>Get a Job</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="homeMain">
    <div class="container" id="homeContent">
      <div id="homeTextContainer">

        <div id="homeText">
          <h1 class="navbar-brand">Get a Job</h1>
          <h3>Your personal assistent, helping you with your job applications</h3>
          <br>
          <h5>No more messy spreadsheets. <strong>Get a Job</strong> keeps track of every detail about your job applications - notes, dates, tasks, job descriptions, salaries, locations, company data and more.</h5>
        </div>
      </div>
      <div id="homeForm">
        <%= yield %>
      </div>
    </div>
  </div>
  </body>
</html>
