<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/assets/favicon.ico">
    <title>789 [React] Get a Job</title>
    <%= csrf_meta_tags %>
  </head>
  <script type="text/javascript">
    console.log('layout client');
  </script>
  <body>
    <%= yield %>
</body>
</html>
